@using BlazorDemo001.Models
@inherits LayoutComponentBase

<PageTitle>BlazorDemo001</PageTitle>

<MApp>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>
        <MMain>
            @Body
        </MMain>
    </div>
</MApp>

@code{

}