
.sidebar-header {
    padding:20px;
}

.sidebar-menu {
    flex-grow: 1;
    min-height:500px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar-footer {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:10px;
}

.subtitle-color {
    color:#cccccc;
    font-size:12px;
}

.sidebar-header > span {
    font-size: 22px;
    font-weight: 800;
}

.sidebar-backgroundcolor {
    background-color: #f1f3f4;
}
